

<div class="container">

  <h2>Mario's 3 Most Recently Updated Products</h2>
  <ul>
    <% @products.updatedNew.each do |product| %>
    <li><%= product.name%> <%= product.cost%> <%= product.country%> <%= link_to "link to details page", product_path(product) %></li>
    <% end %>
  </ul>
  <h2>Mario's 3 Most Recently Added Products</h2>
  <ul>
    <% @products.createdNew.each do |product| %>
    <li><%= product.name%> <%= product.cost%> <%= product.country%> <%= link_to "link to details page", product_path(product) %></li>
    <% end %>
  </ul>
  <h2>Mario's Most Reviewed Product</h2>

  <ul>
    <% @products.mostReviews.each do |product| %>
      <li><%= product.name%> <%= product.cost%> <%= product.country%> <%= link_to "link to details page", product_path(product) %><br>Number of reviews:<%= product.reviews.length%></li>
    <% end %>
  </ul>
  <div class="about">
    <h2>About Mario</h2>
    <p> Mario is an Italian plumber. He sells many different products. His products have many reviews
    </p>
    <h2>Fun Facts</h2>
    <ul>
      <li>Mario Was Once Voiced by Optimus Prime</li>
      <li>Mario Lent His Name to Other Iconic Nintendo Characters</li>
      <li>Wart Showed Up in a Zelda Game</li>
      <li>Shigeru Miyamoto Had Nothing to Do With Super Mario Land</li>
      <li>Mario’s Wardrobe Has Been Inverted</li>
      <li>The Starman Was the First Mario Power-Up to Have Eyes</li>
      <li>Birdo is Transgendered</li>
      <li>Super Mario Bros. 2 Is Actually Doki Doki Panic</li>
    </ul>
  </div>
</div>
