<h1>Mario's Tasty Product Site </h1>


<h2>List of Mario's Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= product.name%> <%= product.cost%> <%= product.country%> <%= link_to "link to details page", product_path(product) %></li>
  <% end %>
</ul>

<%= link_to "New Product", new_product_path %>
