<div class="container">

  <ul class="nav nav-tabs nav-justified myNav">
    <li role="presentation" ><%= link_to "New Product", new_product_path %></li>
  </ul>

  <h2>Mario's Products Made in the USA</h2>
  <hr>
  <% @products.localCountry.each do |product| %>
    <div class="productDiv">
      <%= product.name%> <%= link_to "click for more details", product_path(product) %>
    </div>
  <% end %>

 <h2>List of All Mario's Products</h2>
 <hr>
  <% @products.each do |product| %>
    <div class="productDiv">
      <%= product.name%> <%= link_to "click for more details", product_path(product) %>
    </div>
  <% end %>
</div>
