<div class="container">

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" ><%= link_to "New Product", new_product_path %></li>
  </ul>

  <h2>Mario's Products Made in the USA</h2>
  <ul>
    <% @products.localCountry.each do |product| %>
      <li><%= product.name%> <%= product.cost%> <%= product.country%> <%= link_to "link to details page", product_path(product) %></li>
    <% end %>
  </ul>

 <h2>List of All Mario's Products</h2>
  <ul>
    <% @products.each do |product| %>
      <li><%= product.name%> <%= product.cost%> <%= product.country%> <%= link_to "link to details page", product_path(product) %></li>
    <% end %>
  </ul>

</div>
