<div class="container">


<h2><%= @product.name %></h2>

<% if @product.reviews.any? %>
  <hr>

  <ul>
    <% @product.reviews.each do |review|%>
    <div class="productDiv">
        Reviewed by: <%= review.author %> <br>
        Review: <%= review.content_body %> <br>
        Rating: <%= review.rating %> <br>
        <%= link_to "Edit Review", edit_product_review_path(@product, review) %> |
        <%= link_to "Delete Review", product_review_path(@product, review),
        :data => {:confirm => "Are you sure?", :method => "delete"} %>

        <hr>

      </div>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet!</p>
<% end %>

<p><%= link_to "Add A Review", new_product_review_path(@product) %></p>
<p><%= link_to "Edit Product", edit_product_path(@product) %></p>
<p><%= link_to "Delete Product", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<hr>
<p><%= link_to "Return to products", products_path %></p>
</div>
