<!DOCTYPE html>
<html>
  <head>
    <title>ProductReviews</title>
    <%= csrf_meta_tags %>
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotronTwo">
      <h1>Mario's Tasty Products</h1>
    </div>
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="myNav"><a href="/" >Home Page</a></li>
      <li role="presentation" class="myNav"><%= link_to "View products", products_path %></li>
      <p></p>
    </ul>

</ul>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
